@import 'cards';
@import 'homepage';
@import 'ThemeVariables';
@import 'details';
@import 'index';

.container{
    max-width: $fullViewWidth;
    max-height: 100vh;
    color: #fdfdfd;
    align-items: center;
    text-align: center;
    font-family:  $font;    
}
#root{
    width: $fullViewWidth;
    height: 100%;
    overflow:auto;
    background-color: #050e13;
    background-image: url("../Images/background.jpg");
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    
}


