@import 'ThemeVariables.scss';

.detailsCard {
    align-items: center;
    width: 40rem;


}
.detailsCard .card-body{  
    text-align: center;
    display: inline;

}
.mapHolder {
    display: inline-block;
    height: 100vh;
    width: 100%;
    position:relative;
    margin:5vw;
    z-index: 10;

}
.marker {
   position: absolute;
    transform: rotate(90deg);
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
    border-style: solid;
    color: rgba(0, 0, 0, 0.123);
    animation: bounce 2s ease infinite;
    font-size: 3px; 

  }
  @keyframes bounce {
    0%  { transform: translateY(0); }
    50%  { transform: translateY(-11px); }
    100% { transform: translateY(0); }  
    }

#backBtn {
    height: 40px;
    width: 100px;
    position: absolute;
    margin-top: 50px;
    margin-right: 125%;
    margin-left: -12%;
    background-image: url(../Images/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.sideCard{
    margin:5vw;
    position: relative;
    height: fit-content;
    min-width: fit-content;
    margin-left: 50%;
     border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border: 3px solid #9f9d9d;
    align-items: center;
    padding: 3px;
    display: inline-block;
    color: $blueTheme;
    background-color: rgba(255, 255, 255, 0.767);
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    font-weight: 600;
    width: 20rem;
    white-space: wrap;
    
}
h3.card-title{
    font-weight: 500;
    font-size: 50px;  
}


.geo-error{
    border: 3px solid red;
    align-items: center;
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    margin:10px;
    padding: 3px;
    text-align: center;
    display:inline;
    color: #ffffff;
    background-color: $cardBackground;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width:30vw;
    margin-top: 125px;
    position: absolute;


}

