.header{
    background-color: $headerColor;
    padding: 1%;
}
.header h1 {
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px  2px black;
    
}
.header h4 {
    color: #ffffff;
    font-style: italic;
    text-shadow: 2px 2px  2px black;
    font-size: smaller;
  
        
}

