//Shared styles throughout the app
$font : Courier;
$headerColor:  rgba(58, 98, 184, 0.308);
$blueTheme: #2d6ce0;
$border-radius: 64px 64px 64px 64px;
$cardBackground: #1d1d1da6;
$fullViewWidth: 100vw;
